@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.org-details {
  border: solid;
  border-color: #008234;
  border-width: 2px;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 2%;
}
.org-infrastructure {
  border: solid;
  border-color: #008234;
  border-width: 2px;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 2%;
}

.service-interested-in {
  border: solid;
  border-color: #008234;
  border-width: 2px;
  padding: 25px;
  border-radius: 15px;
}
.challenge-lesson {
  border: solid;
  border-color: #008234;
  border-width: 2px;
  padding: 25px;
  border-radius: 15px;
}
.additional-info {
  border: solid;
  border-color: #008234;
  border-width: 2px;
  padding: 25px;
  border-radius: 15px;
}
